@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    --s: 200px; /* Control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
  
    background: 
      repeating-conic-gradient(
        from 30deg,
        transparent 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
    margin: 0;
  }
  
  



.terminal-loader {
    border: 0.1em solid #333;
    background-color: #1a1a1a;
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    padding: 1.5em 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}

.terminal-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background-color: #333;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0 0.4em;
    box-sizing: border-box;
}

.terminal-controls {
    float: right;
}

.control {
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin-left: 0.4em;
    border-radius: 50%;
    background-color: #777;
}

.control.close {
    background-color: #e33;
}

.control.minimize {
    background-color: #ee0;
}

.control.maximize {
    background-color: #0b0;
}

.terminal-title {
    float: left;
    line-height: 1.5em;
    color: #eee;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 2em auto;
}

.animated-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid green;
    animation: typeText 4s steps(20) forwards, blinkCursor 0.75s step-end infinite alternate;
    font-size: 4rem;
    color: #0f0;
    margin-top: 20px;
}

.subtitle {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.9rem;
    color: #0f0;
    margin-top: 10px;
}

@keyframes typeText {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}

@keyframes blinkCursor {
    50% {
      border-color: transparent;
    }
}

.about {
    text-align: center;
    padding: 60px 0; 
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    border: 5px solid #f7f3f3;
    margin-top: -40px; 
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'Georgia', serif; 
}

.para {
    color: white;
    font-size: 2.4rem; 
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8; 
    font-family: 'Georgia', serif; 
}

.skills {
    padding: 1px 0;
    text-align: center;
}

.skills h2 {
    color: white;
    font-size: 2.9rem;
    margin-bottom: 20px;
    font-family: 'Georgia', serif; 
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 40px;
    margin-top: 20px;
}

.skill img {
    width: 120px;
    height: 120px;
    transition: transform 0.3s ease;
}

.skill img:hover {
    transform: scale(1.1);
}

.skill p {
    color: white;
    font-size: 1.7rem;
    font-family: 'Georgia', serif; 
}

.projects {
    padding: 4px 0;
    text-align: center;
}

.projects h2 {
    color: white;
    font-size: 2.7rem;
    margin-bottom: 20px;
    font-family: 'Georgia', serif; 
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 20px;
}

.project img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.project img:hover {
    transform: scale(1.05);
}

.project h3 {
    color: white;
    font-size: 3.5rem;
    margin-top: 10px;
}

.project p {
    color: white;
    font-size: 1.4rem;
    margin-top: 10px;
}

.custom-btn {
    padding: 20px;
    font-size: 25px;
    outline: none;
    border: 2px solid black;
    background-color: white;
    color: white;
    position: relative;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}

.custom-btn::before {
    content: 'Ver Projeto'; 
    position: absolute;
    top: -15%;
    left: 7%;
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease-in-out;
    font-weight: bold;
}

.custom-btn:hover::before {
    top: 0;
    left: 0;
}

/* Estilos para o footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilo para o parágrafo dentro do footer */
footer p {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px; /* Espaço entre o texto e as imagens */
}

/* Estilo para as imagens */
footer img {
    width: 34px; /* Tamanho das imagens */
    height: 34px;
    vertical-align: middle; /* Alinhar verticalmente com o texto */
}

/* Estilo para os links */
footer a {
    text-decoration: none;
    color: inherit;
}

/* Efeito hover nas imagens */
footer a:hover img {
    opacity: 0.8; /* Efeito de transparência ao passar o mouse */
}

/* Estilos para telas menores */
@media (max-width: 768px) {
    .terminal-loader {
      padding: 1em;
      font-size: 0.9em;
    }

    .animated-text {
      font-size: 2.3rem;
    }

    .subtitle {
      font-size: 1.5rem;
    }

    .profile-photo {
        width: 150px;
        height: 150px;
    }

    .about h2 {
        font-size: 2rem;
    }

    .skills h2 {
        font-size: 3.7rem;
    }

    .skill img {
        width: 95px;
        height: 95px;
    }

    .skill p {
        font-size: 1.7rem;
        font-family: 'Georgia', serif; 
        margin-top: 10px;
    }

    .projects h2 {
        font-size: 4.9rem;
    }

    .project h3 {
        font-size: 2.5rem;
    }

    .project p {
        font-size: 1.3rem;
    }

    .para {
        font-family: 'Georgia', serif;
        font-size: 2.2rem;
    }
}

/* Estilos para telas maiores */
@media (min-width: 1024px) {
    .container {
        max-width: 1400px;
    }

    .terminal-loader {
        font-size: 1.1em;
    }

    .animated-text {
        font-size: 4.5rem;
    }

    .profile-photo {
        width: 220px;
        height: 220px;
    }

    .about h2 {
        font-size: 3rem;
    }

    .para {
        font-size: 2.9rem;
    }

    .skills h2 {
        font-size: 3.2rem;
    }

    .skill img {
        width: 160px;
        height: 160px;
    }

    .projects h2 {
        font-size: 3rem;
    }

    .project img {
        width: 60%;
    }

}  


/* Estilo base para o container das redes sociais */
.redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px; /* Espaço entre as imagens */
    padding: 1px;
    margin-top: -100px;
}

/* Estilo base para os links */
.redes-sociais a {
    display: inline-block;
    transition: transform 0.3s ease; /* Efeito de transição suave */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
}

/* Estilo base para as imagens */
.redes-sociais img {
    max-width: 100%;
    height: auto;
    border: none; /* Remove bordas das imagens */
}

/* Estilo específico para a imagem do LinkedIn */
.redes-sociais .linkedin {
    width: 600px; /* Tamanho padrão para telas maiores */
}

/* Estilo específico para a imagem do GitHub */
.redes-sociais .github {
    width: 600px; /* Tamanho padrão para telas maiores */
}

/* Efeito de hover para os links */
.redes-sociais a:hover {
    transform: scale(1.1); /* Aumenta o tamanho da imagem em 10% ao passar o mouse */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .redes-sociais {
        flex-direction: column; /* Coloca as imagens uma abaixo da outra */
        gap: 10px; /* Reduz o espaço entre as imagens */
    }

    .redes-sociais .linkedin,
    .redes-sociais .github {
        width: 250px; /* Reduz o tamanho das imagens para telas menores */
    }
}

/* Responsividade para telas muito pequenas (ex: smartphones) */
@media (max-width: 480px) {
    .redes-sociais .linkedin,
    .redes-sociais .github {
        width: 480px; /* Reduz ainda mais o tamanho das imagens */
    }
}

.skill1 {
    text-align: center;
    padding: 20px;
}

.caroo {
    color: white;
    font-size: 4rem;
    margin-bottom: 20px;
    font-family: 'Georgia', serif;
}

.caroo1 {
    color: white;
    font-size: 1.4rem;
    margin-top: 10px;
}

/* Ajuste do tamanho das imagens no carrossel */
.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 1200px; /* Ajuste conforme necessário */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
}

/* Estilo personalizado para os controles do carrossel */
.carousel-control-prev,
.carousel-control-next {
    width: 5%; /* Largura dos controles */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    border-radius: 50%; /* Deixa os botões redondos */
    top: auto; /* Remove o posicionamento vertical padrão */
    bottom: 10px; /* Posiciona os botões na parte inferior */
    transform: translateY(0); /* Remove o ajuste vertical */
    z-index: 1; /* Garante que os controles fiquem acima das imagens */
}

.carousel-control-prev {
    left: 10px; /* Distância da borda esquerda */
}

.carousel-control-next {
    right: 10px; /* Distância da borda direita */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .caroo {
        font-size: 2.6rem;
    }

    .caroo1 {
        font-size: 1.2rem;
    }

    .carousel-item img {
        max-height: 320px; /* Reduz a altura das imagens para telas menores */
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 10%; /* Aumenta a largura dos controles em telas menores */
    }
}